@value myproWhite from '../../common/colors.module.css';

.header {
    display: flex;
    padding: 1.5em 2em;
    position: relative;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_image {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.logout {
    position: absolute;
    right: 2em;
    top: 2.5em;
    border: none;
    background-color: myproWhite;
}
